<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.petrova.dao.QuestionDaoFile">
        <property name="questionsFile" value="questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring.petrova.service.QuestionServiceSystem"/>
    <bean id="answerService" class="ru.otus.spring.petrova.service.AnswerService"/>

    <bean id="testingService" class="ru.otus.spring.petrova.service.TestingServiceSimple">
        <constructor-arg name="questionService" ref="questionService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="answerService" ref="answerService"/>
    </bean>

</beans>
