<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<form id="add-comment-form" th:action="@{/books/{id}/comments(id = ${bookId})}">
    <div class="row">
        <label for="comment-input">Comment: </label>
        <input id="comment-input" name="text" type="text" th:value="${comment.text}" value=""/>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<script th:inline="javascript">
    (function ($) {
        let commentAddForm = $('#add-comment-form');
        commentAddForm.submit(function () {
            let comment = $(this).serialize();
            let bookId = [[${bookId}]];
            $.post({
                url: '/rs/books/' + bookId + '/comments',
                data: comment
            }).then(
                function (value) {
                    window.location.href = '/books/' + bookId + '/comments';
                    console.log(value);
                },
                function (xhr, error) {
                    alert('Saving a comment failed!');
                    console.log(error.toUpperCase() + '. HTTP status: ' + xhr.status);
                }
            );
        });
    })(jQuery);
</script>

</body>
</html>
